<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="main-content">
        {{>header}}
        <p>I am sophomore student at Hacettepe University Computer Engineering department. I have worked with Selenium,
            BS4, and Flask frameworks in Python, Node.JS, MySQL in JavaScript and so Firebase, Heroku for the
            deployment. I created bunch of systems which is designed with OOP in Java.</p>

        <p>Coding is my passion. I am coding with great enthusiasm and pleasure. Currently I am sharing my leetcode
            problem solutions and my projects
            from <a href="https://www.github.com/suleymanekmekci">github</a> . My next target is creating a blog and
            helping people in some areas which I have knowledge about it.
        </p>

        <br><br><br><br><br><br>
        <p>
            You can follow me from social media. All links are located in the below. Thanks for your time!
        </p>


    </div>


    {{>footer}}
</body>

</html>