<footer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <p>Created by {{name}}</p>
    <a href="https://www.facebook.com/crazysilo2" class="fa fa-facebook"> Süleyman Ekmekçi </a>

    <a href="https://www.instagram.com/sekmekciii" class="fa fa-instagram"> Süleyman Ekmekçi </a>

    <a href="https://twitter.com/sekmekci4" class="fa fa-twitter"> Süleyman Ekmekçi </a>

    <a href="https://linkedin.com/in/suleymanekmekci" class="fa fa-linkedin"> Süleyman Ekmekçi </a>
    <hr>

    <i class="fa fa-envelope"> suleymanekmekci3@gmail.com</i> | <i class="fa fa-phone"> +90 553 738 6850 </i> | <i
        class="fa fa-address-card"> Ankara / Turkey </i>
</footer>