<footer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <p>Created by {{name}}</p>
    <hr>
    <a href="https://github.com/suleymanekmekci" class="fa fa-github" style="font-size:17px"> </a> |

    <a href="https://linkedin.com/in/suleymanekmekci" class="fa fa-linkedin" style="font-size:17px"> </a> |

    <a href="https://twitter.com/sekmekci4" class="fa fa-twitter" style="font-size:17px"> </a> |

    <a href="https://www.instagram.com/sekmekciii" class="fa fa-instagram" style="font-size:17px"> </a> |

    <i class="fa fa-envelope" style="font-size:17px"> suleymanekmekci3@gmail.com </i> | <i class="fa fa-address-card"
        style="font-size:17px"> Ankara / Turkey </i> |

</footer>